@import url("./main.css");

.about__us {
  padding: 0 2rem 3rem 2rem;
}

.about__us article {
  margin-top: 2rem;
}

.about__us article p {
  margin-top: 1rem;
}

.about__us-values ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  margin-left: 2rem;
  list-style: disc;
}
