@import url("https://fonts.googleapis.com/css2?family=Alata&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
@import url("./components/outline.css");
@import url("./components/footer.css");
@import url("./components/header.css");

:root {
  --white-clr: #fff;
  --brown-clr: #a59d84;
  --beige-clr: #ecebde;
  --grey-clr: #ecebde;
  --black-clr: #000;
}

/* Global CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  scroll-behavior: smooth;
  scrollbar-gutter: auto;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Cardo", serif;
}

p {
  font-family: "Alata", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}

/* Hero section */
.hero__section {
  background-color: var(--white-clr);
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.hero__section-info {
  text-align: center;
  text-wrap: balance;
}

.hero__section-info p {
  margin-top: 0.5rem;
}

.hero__section-img {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  background-image: url("../img/projects/project-01.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.visit__project-btn {
  background-color: var(--grey-clr);
  color: var(--black-clr);
  padding: 1rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all ease-in-out 0.2s;
}

.visit__project-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.visit__project-btn:hover {
  background-color: var(--brown-clr);
  color: var(--white-clr);
}

.visit__project-btn i {
  font-size: 1rem;
  margin-bottom: 0.1rem;
  transition: transform 0.3s ease;
}

.visit__project-btn:hover i {
  transform: translateX(0.2rem);
}

/* Main Focus section */
.main__focus__section {
  margin-top: 3rem;
}

.main__focus {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-wrap: balance;
}

.main__focus-mission {
  margin-top: 2rem;
}

.main__focus-mission-item h3 {
  color: var(--brown-clr);
  font-size: 1.5rem;
}

.main__focus-mission-item p {
  margin-top: 0.5rem;
}

.main__focus-mission-item:nth-child(2) {
  margin-top: 2rem;
}
