/* Hader section */
.header__section {
  background-color: var(--grey-clr);
  position: relative;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 1rem;
}

.header__logo img {
  width: 100%;
  max-width: 3.5rem;
}

.header__navbar {
  position: absolute;
  background-color: var(--grey-clr);
  min-height: 100vh;
  width: 17.5rem;
  top: 0;
  right: 0;
  padding: 2.25rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.header__navbar.active {
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: all ease-in-out 0.2s;
}

.header__navbar-list {
  margin-top: 3rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 2rem;
}

.header__navbar-item {
  text-transform: uppercase;
  padding: 0.5rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
}

.header__navbar-item:hover {
  border-bottom: 1px solid var(--black-clr);
  border-top: 1px solid var(--black-clr);
}

.header__navbar-item.active-item {
  border-bottom: 1px solid var(--black-clr);
  border-top: 1px solid var(--black-clr);
}

.open__menu svg,
.close__menu svg {
  width: 1rem;
  height: 1rem;
}

@media screen and (min-width: 768px) {
  .header__navbar {
    position: relative;
    background-color: transparent;
    min-height: auto;
    width: auto;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header__navbar-list {
    margin: 0;
    align-items: center;
    flex-direction: row;
  }

  .open__menu,
  .close__menu {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
